<img src="{{image}}" alt="Hero image" class="main_image">
<div class="main_content">
    <h1 class="main_title">{{heading}}</h1>
    <p class="main_text">{{descriotion}}</p>
    <a href="" class="button main_button" href="({{href}})">{{button}}</a>
</div>